################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.filters
*.vcxproj
/.vs/MemoryScanner/v16
/.vs
/InsomniaScanning.sln
